/* layout css*/
#body {
	background-color: #934184;
	padding-bottom: 20px;
}

#header {
	margin-top: 30px;
	text-align: center;
	background-color: #b97aae;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.h1 {
	font-size: 55px;]
	line-height: 1.6;
	padding-bottom: 20px;
	font-family: 'Mouse Memoirs', sans-serif;
}

.h2 {
	font-size: 42px;
	padding-bottom: 20px; 
	font-family: 'Mouse Memoirs', sans-serif;
}

.date {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px; 
	font-size: 22px;
	font-family: 'Mouse Memoirs', sans-serif;
}

#logo {
	width: 250px;
	height: auto;
}

.img {
	padding-left: 50px;
	width: 100px;
}
/* main content */

.mainform {
	background-color: #b97aae;
	border-radius: 10px;
	padding: 20px;
	width: 440px;
	height: auto;
}

.main {
	background-color: #b97aae;
	border-radius: 10px;
	padding: 20px;
}

.form {
	margin: 15px;
	padding-left: 15px;
}

.h3 {
	font-size: 35px;
	padding-bottom: 20px;
	text-align: center; 
	font-family: 'Mouse Memoirs', sans-serif;
}

.h4 {
	color:#934184;
	text-align: center;
	font-family: sans-serif;
	text-decoration: none;
}
.h4:hover {
	color: #934184;
}

.label {
	padding-top: 10px;
	color: #333;
}

.info {
	padding-left: 20px;
	padding-bottom: 15px;
	font-size: 16px;
	color: #333;	
}

.text {
	padding-left: 20px;
	padding-bottom: 5px;
	font-size: 20px;
	color: #333;	
}

.party {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	font-size: 20px;
	color: #222;
}

.icon {
	color:#934184;
	width: 100px;
	height: auto;
}

.td {
	padding: 30px;
}

#board {
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

#form_board {
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.board {
	font-size: 16px;
	color: #222;
	font-weight: bold;
}

.message {
	margin-bottom: 5px;
	font-size: 14px;
	padding: 10px;
	color: #333;	
}

#table {
border: 2px;
}

th {
	width: 250px;
	margin: 10px;
}

td {
	text-align: center;
}





