<div class="offset-by-two">
	<div class="main eleven columns div clearfix">
		<div id="form_board">
			<form class="offset-by-three" method="post" action="/wedding/board"> 
				<label class="label">Name</label>
				<input type="text" name="message[name]" />	
				<label class="label">Message</label>
				<textarea name="message[message]"></textarea>
				<input type="submit" />
			</form>	
		</div>
		<% if @messages %>
			<% @messages.each do |post| %>				
				<div id="board" class="offset-by-two">
					<h4 class="message"><span class="board"> <%= post.name %></span>: <%= post.message %></h4>
				</div>
			<% end %>
		<% end %>
		<a href="/wedding/home">
			<h4 class="h3">Home</h4>
		</a>
	</div>
</div>
  