<div class="offset-by-four div">
	<table>
		<tr>
			<td class="mainform">
				<h2 class="h3">RSVP To The Party</h2>
				<form method='post' action='/wedding/en'>
					<label class="label">RSVP</label>
					<select value="no">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<label class="label">How Many People *</label>
						<input name="num_ppl" value="" />
					<label class="label">Need housing?</label>
						<input type="checkbox" name="thu">Thursday
						<input type="checkbox" name="fri">Friday
						<input type="checkbox" name="sat">Saturday
					<label class="label">Do you require transportation?</label>
						<input name="tranportation" value="" />
					<label class="label">Arrival time?</label>
						<input name="tranportation" value="" />
					<label class="label">Departure time?</label>
						<input name="tranportation" value="" />
					<label class="label">Any special needs?</label>
					<textarea name="special_needs"> </textarea>
				</form>
				<h4>&nbsp;</h4>
				<a href="/wedding/thank-you"><h4 class="party">Home</h4></a>
			</td>
		</tr>
	</table>
</div>
  