<div class="offset-by-two">
	<div class="main eleven columns div">
		<div class='clearfix'>
			<a href='/wedding/board'> 	
				<div class="offset-by-one four columns" >
					<img class="img" src="/images/chat.png" />
					<h4 class="h4">Pared de mensajes. Message board.</h4>
				</div>
			</a>

			<a href='/wedding/info'> 	
				<div class="offset-by-one four columns">
					<img class="img" src="/images/info.png" />
					<h4 class="h4">Info</h4>
				</div>
			</a>
		</div>

		<div class='clearfix'>
			<a href='/wedding/registry'> 	
				<div class="offset-by-one four columns" >
					<img class="img" src="/images/registry.png" />
					<h4 class="h4">Lista de Regalos. Registry</h4>
				</div>
			</a>

			<a href='/wedding/rsvp'> 	
				<div class="offset-by-one four columns" >
					<img class="img" src="/images/message.png" />
					<h4 class="h4">RSVP</h4>
				</div>
			</a>
		</div>
	</div>
</div>
  