<div class="offset-by-two">
	<div class="main eleven columns div">
		<a href='/wedding/board'> 	
			<div>
				<h4 class="h4">Pared de mensajes. Message board.</h4>
				<img src="/images/chat.png" />
			</div>
		</a>

		<a href='/wedding/info'> 	
			<div>
				<h4 class="h4">Informacion. Information</h4>
				<img src="/images/info.png" />
			</div>
		</a>

		<a href='/wedding/registry'> 	
			<div>
				<h4 class="h4">Lista de Regalos. Registry</h4>
				<img src="/images/registry.png" />
			</div>
		</a>

		<a href='/wedding/rsvp'> 	
			<div class="menu">
				<h4 class="h4">Cambiar el RSVP. Edit RSVP</h4>
				<img src="/images/message.png" />
			</div>
		</a>
	</div>
</div>
  