<div class="offset-by-two div">
	<table class="main">
		<tr>
			<td class="td">
				<a href='/wedding/board'> 	
				<div class="menu">
					<h4 class="h4">Message Board</h4>
				</div>
				</a>
			</td>
			<td class="td">
				<a href='/wedding/info'> 	
				<div class="menu">
					<h4 class="h4">Information</h4>
				</div>
				</a>
			</td>
		</tr>
		<tr>
			<td class="td">
				<a href='/wedding/registry'> 	
				<div class="menu">
					<h4 class="h4">Registry</h4>
				</div>
				</a>
			</td>	
			<td>
			<a href='/wedding/edit'> 	
				<div class="menu">
					<h4 class="h4">Edit RSVP</h4>
				</div>
			</a>
		</td>
		</tr>
	</table>
</div>
  