<div class="offset-by-two">
	<div class="main eleven columns div">
		<h1 class="h3">Contacto. Contact Us.</h1>
		<h4 class="info">Emails:</h4>
		<h4 class="text">Abby's isaacs.abby@gmail.com</h4>
		<h4 class="text">Cami's camilacanog@gmail.com</h4>
		<h4>&nbsp;</h4>
		<h4 class="info">Telefonos: Phone Numbers:</h4>
		<h4 class="text">USA: 917 754 6454 or 917 754 7969</h4>
		<h4 class="text">Colombia: 304 444 8169 or 6100061</h4>
		<h4>&nbsp;</h4>
		<h1 class="h3">La Finca! This is the place!</h1>
		<img class="offset-by-one nine columns two img" src="/images/valp3.png" />
		<img class="offset-by-one nine columns two img" src="/images/valp6.png" />
		<img class="offset-by-one nine columns two img" src="/images/valp5.png" />
		<img class="offset-by-one nine columns two img" src="/images/valp4.png" />
		<h4>&nbsp;</h4>
		<h1 class="h3">Informacion general. General info</h1>
		<h4 class="info">Clima. Weather.</h4>
		<h4 class="info">La dormida. Accomodations</h4>
		<h4 class="info">Que traer. What to bring</h4>
		<h4 class="info">Y demas.. Other.</h4>
		<!-- Weather, accomodations, whaat to bring what to expect -->
				
		<h1 class="h3">Los Padres! The parents!</h4>
		<h4 class="party">Los de Cami. Cami's parents</h4>
		<img class="offset-by-one nine columns two img" src="/images/padres.png" />
		<br class="clear">
		<h4 class="party">Los de Abby. Abby's parents</h4>
		<img class="offset-by-one nine columns two img" src="/images/parents.png" />
				
		<h4>&nbsp;</h4>
		<h1 class="h3">Nosotras!!! US!!!!</h4>
		<img class="offset-by-one nine columns two img" src="/images/us2.png" />
		<img class="offset-by-one nine columns two img" src="/images/us1.png" />
		<img class="offset-by-one nine columns two img" src="/images/us3.png" />
		<br class="clear">
				
		<h4>&nbsp;</h4>
		<h1 class="h3 clearfix">Las madrinas y madrinos! The wedding party!</h4>
		<h4 class="party clearfix">Daniel Cano</h4>
		<img class="offset-by-one nine columns two img" src="/images/dani.png" />
		<br class="clear">
		<h4 class="party clearfix">Amanda Isaacs</h4> 
		<img class="offset-by-one nine columns two img" src="/images/amanda.png" />
		<br class="clear">
		<h4 class="party">Santiago Hernandez</h4>
		<img class="offset-by-one nine columns two img" src="/images/santi.png" />
		<br class="clear">
		<h4 class="party">Nicole Kubon</h4>
		<img class="offset-by-one nine columns two img" src="/images/nicole.png" />
		<br class="clear">
		<h4 class="party">Katie Romeo</h4>
		<img class="offset-by-one nine columns two img" src="/images/katie.png" />
		<br class="clear">
		<a href="/wedding/home"><h4 class="h3">Home</h4></a>
	</div>
</div>
  