<html>
<head>
	<title>Cami & Abby</title>
	<link rel="stylesheet" href="/stylesheet/base.css">
	<link rel="stylesheet" href="/stylesheet/skeleton.css">
	<link rel="stylesheet" href="/stylesheet/layout.css">
	<link rel="stylesheet" href="/stylesheet/style.css">
	<link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
</head>
<body id="body">
	<div class="container">
		<div class="offset-by-two">
				<div id='header' class="eleven columns div">
					<h1 class="h1">El Matri de Cami & Abby</h1>
					<h2 class="h2">Abby & Cami's wedding</h2>
					<img id="logo" src="/images/penguin.png" />
				</div>	
		</div>
		<%= yield %>
	</div>
</body>
</html>