<div class="offset-by-two">
	<div class="main eleven columns div">
		<div class="form">
			<h2 class='h3'>Agregar nuevo invitado</h2>
			<form method='post' action='/wedding/nuevo' >
				<div>
					<label class='label'>Nombre</label>
					<input type='text' name='name' />
				</div>
				<div>
					<label>Numero de invitados</label>
					<input type='text' name='num_ppl' />
				</div>
				<div>
					<label>Email</label>
					<input type='text' name='email' />
				</div>
				<input type="submit" value='agregar' />
			</form>
			<br class="clear">
		<a href="/wedding/lista"><h4 class="date">Lista</h4></a>
		<a href="/wedding/home"><h4 class="date">Home</h4></a>
		</div>
	</div>
</div>