<div class="offset-by-two">
	<div class="main eleven columns div">
		<h4 class="h3">Lista de Regalos. Registry</h4>
		<h4 class="info">Estamos muy emocionadas de poder compartir este dia con todos ustedes. Para nosotras es muy importante porder casarnos en Colombia junto a nuestros amigos y familia pero sin embargo sabemos que esta no es la realidad de la majoria de personan gay en Colombia. Es por esto que queremos pedirles el favor que en vez de traernos un regalo donen a la entidad no gubernamental, Colombia Diversa, y asi ayudemos todo a hacer que mas personas gay puedan tener el apoyo y amor que nosotras hemos tenido. Esta es la pagina de <a href="http://colombiadiversa.org/colombiadiversa/index.php/como/arte-por-colombia-diversa" target="blank">Colombia Diversa</a></h4>
		<h4 class='info'><strong>Sin embargo si quieren mandarnos regalos a la casa:</strong></h4>
		<h4 class='info'>Nuestra direccion en Nueva York es 43-10 Crescent Street, Apto 1214. Long Island City 11101 NY</h4>
		<h4>&nbsp;</h4>
		<h4 class="info">We are very excited to have you all come to our wedding. We cannot express how important is for us to be able to marry in Colombia near our friends and family. We know how lucky we are, and that this is not the reality for most LBGT people in Colombia, which is why we would prefer that instead of a gift you make a donation on our name to Colombia Diversa. Colombia Diversa is a non-profit organization that advocates for the LGBT community in Colombia. We want to make a contribution so that more LGBT people can share the love and support of their communities as we do. This is the link to <a href="http://colombiadiversa.org/colombiadiversa/index.php/como/arte-por-colombia-diversa"target="blank" >Colombia Diversa</a>. We can't wait to see you all! </h4>
		<h4 class='info'><strong>That being said, if you want to send us a gift our home our address is:</strong></h4>
		<h4 class='info'>43-10 Crescent Street, Apto 1214. Long Island City 11101 NY</h4>
		<br>
		<br>
		<a href="/wedding/home"><h4 class="h3">Home</h4></a>
	</div>
</div>
