<div class="offset-by-two">
	<div class="main eleven columns div">
		<h4 class="h3">Lista de Regalos. Registry</h4>
		<h4 class="info">Estamos muy emocionadas de poder compartir este dia con todos ustedes. Para nosotras es muy importante porder casarnos en Colombia junto a nuestros amigos y familia pero sin embargo el domingo por la noche volveremos a Nueva York a trabajar. Es por esto que queremos pedirles el favor de que si deciden traernos un regalo, por favor tengan en cuenta que va a ser parte de nuestro equipaje. Para nosotras su presencia es el mejor regalo! pero por si acaso aca estan algunas cosas que nos gustaria tener. Los esperamos a todos!!!</h4>
		<h4>&nbsp;</h4>
		<h4 class="info">We are very excited to have you all come to our wedding. We cannot express how important is for us to be able to marry in Colombia near our friends and family however the next day we flight back to New York so if you decide to bring us a present (which wew ould be really excited about!). We want you to be aware of our luggage limit and how dificult it would be for us to transport back home. For us your presence is more than enough but just in case you decide to bring us something here are some options. We can't wait to see you all! </h4>
		<a href="/wedding/home"><h4 class="h3">Home</h4></a>
	</div>
</div>
